* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

body {
    background-color: #e9edf7;
}

#title-header {
    display: flex;
    justify-content: center;
}

#sub-header {
    display: flex;
    justify-content: center;
    font-size:1rem;
    color:#1c2c51
}

#pokemon-collection {
    margin-left: 4rem;
    margin-right: 4rem;
}

.card {
    text-align: center;
    border: grey solid 1px;
    border-radius: 7px;
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    display: inline-grid;
    margin: 1rem 1rem;
    box-shadow: .5rem .5rem 1rem #aba8a8;
}

.name {
    font-size: 1rem;
}

.pokemon-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caught-btn {
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-color: #4F74C8;
    border: 1px solid #4F74C8;
    border-radius: 5px;
}

.caught-btn[disabled] {
    background-color: #faf8f8;
    color: #4F74C8;
}

.add-nickname {
    font-size: .8rem;
}

a:link {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.input-text {
    width:5rem;
    float:left;
}

.submit {
    width: fit-content;
    float:left;
} 

.pokeNickname {
    font-size: .8rem;
    float:left;
}

.remove-nickname {
    font-size:0.8rem;
    margin-left: 1rem;
    float:right;
}